extends ./../layout
block content
  #new-post
    if !onLoginPage
      span
        a.button(href="/gallery/new") New Post
  .main
    each photo in Photos
      .work
        .thumbnail
          a(href="/gallery/#{photo.id}")
            img.portrait(src="#{photo.link}")
        ul
          li #{photo.author}&nbsp;- #{photo.link}
    #footer
      p &nbsp;
