doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Express Gallery
  link(rel="stylesheet", href="./../css/styles.css")
body
  div.main
    h1 Express Gallery
  button.button(href="/gallery/new") New Post
  if !onLoginPage
    form#logoutForm(method='POST' action="/logout")
      input(type='hidden', name='_method', value='DELETE')
      button.button(type="submit", value="submit") Logout
  block content
