block content
  form#newForm(method='POST')
    p Username:
      input(type="text", name="username", placeholder="Name of User" autofocus)
    p Password:
      input(type="text", name="password", placeholder="Password of User")
    p Email Address:
      input(type="text", name="email_address", placeholder="Email Address")
    input(type='submit' value='Submit')